*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


#header{
    max-width: 1600px;
    height: 92px;
    background-color: #FFFFFF;
    padding: 16px 120px 16px 120px;
    border: 1px solid blue;
    margin: 0 auto;
    

    
}
.nav{
    padding: 16px 120px 16px 120px;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.nbar-item{

    list-style-type: none;
    display: flex;
    align-items: center;

}
.li-content{
    display: flex;
    justify-items: center;

    
     
    
}
.nbar-item li a{
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #001931;
    justify-content: space-around;
    padding: 40px;

}

.btn{
    width: 164px;
    height: 44px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    border: none;
    padding: 12px 16px 12px 16px;
    text-align: center;
    margin-bottom: 5px;



    
}
/* banner section start */

#banner{
    max-width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px; 
    background: url(./images/hero-bg.png),#FFFFFF;
    
    display: flex;
    gap: 40px;
    margin: 0 auto;



}
.banner-items{
    max-width: 1360px;
    height: 379px;
    gap: 32px;
    place-items: center;
    margin: 0 auto;


}
.p1{
    width: 229px;
    height: 35px;
    background-color: #ffffff;
    font-size: 16px;
    align-items: center;
    color: #469165;
    border-radius: 10px;
    padding: 8px 12px 8px 12px;
}

.p2{
    
    font-size: 18px; 
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
    cursor: pointer;


    
}
span{
    color: #FFFFFF;

}
 h1{
    font-size: 72px;
    font-weight: bold;
   color: #30B868;
}

#banner .btn1{
    width: 251px;
    height: 52px;
    border-radius: 4px;
    color: white;
    font-size: larger;
    padding: 1px,#469165;
    background-color: #469165;
    gap: 10px;
    border: #30B868;


    

}
#banner .btn2{
    width: 198px;
    height: 52px;
    font-size: 16px;
    padding: 12px 16px;
    background-color: #001931;

    color:#FFFFFF;



}
/* card section start */
#card-section{
    max-width: 1600px;
    height: 448px;
    justify-content: center;
    place-items: center;
}
.card-header{
    max-width: 1360px;
    height: 152px;
    text-align: center;
    background-color: #FFFFFF;
    gap: 44px;
    margin: o auto;
}
.card-items{

    display: flex;
    
}
.card{
    justify-content: center;
    max-width: 210px;
    height: 205px;
    box-shadow: 50px;
    text-wrap: inherit;
    padding: 40px;
    text-align: center;
}

.img{

    border-radius: 50%;
    background-color: #F95555;
}
/* second brain section */
#second-brain{
     max-width: 1600px;
    height: 840px;
    padding: 120px;
    gap: 40px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
.second-container{
    max-width: 1360px;
    height: 600px;
    gap: 60;
}
.second-brainitem{
    display: flex;
    justify-content: space-between;


}

.ig{
    max-width: 600px;
    height: 600px;
    border-radius: 12px;
}
.secondbrain-secondcontainer{
    
    max-width: 700px;
    height: 396px;
    gap: 40px;
    padding: 102px 0px 102px 60px;


}
.para1{
    margin-top: inherit;

    color: #30B868;
    font-size: 16px;
    font-weight: 500px;
}
.para2{

    font-weight: 400px;
    color: #627382;
    gap: 16px;
    line-height: 20px;
}
.paragrap-item{
    max-width: 700px;
    height: 228px;
    gap: 16px;

}
.paragrap-item p{

    font-weight: 500px;
    line-height: 20px;
    color: #001931;
}
.img-check{
    align-items: center;
}

/* ready section start */
#ready{
    max-width: 1600px;
    height: 506px;
    background-color: #FFFFFF;
    padding: 2px 120px 120px 120px;
    gap: 40px;

}
.ready-content{
    max-width: 1360px;
    height: 384px;
    border-radius: 12px;
    padding: 80px 40px;
    gap: 40px;
    background-color: #F7F6F2;
    
}
.ready-item{
    max-width: 1280px;
    height: 112px;
    gap: 16px;
    align-items: center;
    
}
.mama{
    font-weight: 700px;
    color: #001931;

}


.text1{
    font-weight: 700px;
    color: #001931;
    text-align: center;

    

}
.text{
    color: #627382;
    font-size: larger;
    text-align: center;

}
.btn3{
    width: 251px;
    height: 52px;
    border-radius: 4px;
    color: white;
    font-size: larger;
    padding: 1px,#469165;
    background-color: #469165;
    gap: 10px;
    border: #30B868;
    place-items: center;

}
.ready-second{
    text-align: center;
    padding-top: 15px;
    
}

/* footer start */
#footer{
    max-width: 1600px;
    height: 348px;
    margin-top: 40px;
    background-color: #001931;
}
.footer-item{
    max-width: 1360;
    height: 64px;
    display: flex;
    justify-content: space-between;
    padding: 120px 120px;

    

}
h3{
    color: #FFFFFF;
}
ul{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    

}
ul li{


    text-decoration: none;
    list-style-type: none;
}
ul li a{
    color: #FFFFFF;
}
.copy-right{

    color: #FFFFFF;
    text-align: center;
    margin-top: 60px;
    

}