*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#header{
    width: 1600px;
    height: 92px;
    border: 1px solid red;

    
}
.nav{
    padding: 16px 120px 16px 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nbar-item{
    max-width: 1600px;
    list-style: none;
    align-items: center;
    display: flex;
    gap: 50px;

}
.nbar-item li a{
    text-decoration: none;
}

.btn{
    width: 164px;
    height: 44px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    border: none;

    
}
/* banner section start */

#banner{
    width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px;
    gap: 40px;
    background: url(./images/hero-bg.png) #001931CC;
}
.banner-items{
    width: 1360px;
    height: 379px;
    gap: 32px;
    justify-items: center;

}
.p1{
    width: 229px;
    height: 35px;
    background-color: #ffffff;
    font-size: 16px;
    align-items: center;
    color: #469165;
    border-radius: 10px;
    padding: 8px 12px 8px 12px;
}

.p2{
    
    font-size: 18px; 
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
    cursor: pointer;


    
}
span{
    color: #FFFFFF;

}
 h1{
    font-size: 72px;
    font-weight: bold;
   color: #30B868;
}

#banner .btn1{
    width: 251px;
    height: 52px;
    border-radius: 4px;
    color: white;
    font-size: larger;
    padding: 1px,#469165;
    background-color: #469165;
    gap: 10px;
    border: #30B868;

}
#banner .btn2{
    width: 198px;
    height: 52px;
    font-size: 16px;
    padding: 12px 16px;



}